body {
    background-image: url("../Images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: block;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.699);
}

.registerForm {
    max-width: 400px;
}

.compraBetsLogo {
    display: block;
    max-width: 500px;
}

#registerButton {
    display: block;
    padding: 10px 50px;
}

.errmsg {
    font-weight: bold;
}

/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        display: block;
        max-width: 360px;
        margin-top: 50px !important;
        padding: 40px 16px 45px 16px !important;
    }

    .logInForm {
        max-width: 315px;
    }

    .compraBetsLogo {
        max-width: 325px;
        margin-bottom: 50px !important;
    }

    #registerButton {
        margin-top: 30px !important;
        padding: 12px 90px !important;
    }
}

@media screen and (min-width: 1500px) {
    .container {
        display: block;
        max-width: 50rem;
    }
}
